<div *ngIf = "!(authService.getUser() | async)">You are not logged in</div>

<button mat-raised-button color = "primary"
(click) = "hiddenBook = !hiddenBook"> Add Book </button>
<book-form
  (update) = "add($event)"
  [hidden] = "hiddenBook"
  (closeEdit) = "hiddenBook = !hiddenBook"
  [formType] = "'Add Book'"
  >

</book-form>

<mat-accordion *ngIf = "(authService.getUser() | async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{book.author}}
        </mat-panel-description>
        <button mat-raised-button color = "primary" (click) = "deleteBook(book.id)">Delete</button>
      </mat-expansion-panel-header>
      <p>{{book.summary}}</p>

      <button mat-raised-button color = "primary"
        (click) = "hiddenEdit[i] = !hiddenEdit[i]"> Edit Book </button>

      <book-form
        [hidden] = "hiddenEdit[i]"
        [title] = "book.title"
        [author] = "book.author"
        [bookId] = "book.id"

        (update) = "update($event);hiddenEdit[i] = !hiddenEdit[i]"
        (closeEdit) = "hiddenEdit[i] = !hiddenEdit[i]"

        [formType] = "'update Book'"
      >

      </book-form>

    </mat-expansion-panel>
  </mat-accordion>

  <div>
      <button mat-raised-button
        color = "primary"
        (click) = "nextPage()"
    >
      Next page
    </button>
      </div>

