<mat-card>
    <h2>{{formType}}</h2>
    <form #bookForm = "ngForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)] = title name = title required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)] = author name = author required>
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" (click) = "updateParent()">{{formType}}</button>
            <button mat-raised-button  (click) = "tellParentToClose()">Cancel</button>
        </div>
    </form>
</mat-card>

