<mat-card>
    <h2>city form</h2>
    <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <mat-select place-holder ="City" [(ngModel)]="Selectedcity" name = "Selectedcity" required>
                  <mat-option *ngFor="let city of cities" [value]="city.name">
                    {{city.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <button [disabled] = "!cityForm.form.valid" type = "submit" mat-raised-button color="primary">See temperatures for {{Selectedcity}}</button>
        </div>

    </form>
</mat-card>
